[Desktop Entry]
Type=Application
Name=Markdown to PDF
Exec=/home/sglbl/bin/md_to_pdf_converter.sh
Icon=accessories-text-editor
Terminal=false
Categories=Utility;
